body{
    font-family: 'Roboto', sans-serif;
    background-color:#FFA07A;
}

/* navbar css starts here  */
.bg-light{
    background-color: #FFB6C1!important;
}

.navbar-brand{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8rem;
    color: #800080!important;
}

.nav-link{
    color: #663399!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}
.table-danger
{
	
	border:  3px solid blue; 

}

.table-light{
	  border: 2px solid blue;
}
.table-info{
	  border: 2px solid green;
}

th,td
{
	text-align: center;
	
}

.img{
  opacity: 0.5;
}
.name{
  background-color: #bc8f8f!important;
}
.name1{
  background-color: #ffb6c1!important;
}
.name2{
  background-color: #dda0dd!important;

}
.h2{
  background-color: grey!important;
}
.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
	border-radius: 15px;
}
